body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
    "aboutMe"
    "skills"
    "projects"
    "contact";
}

.aboutMe {
  grid-area: aboutMe;
  display: flex;
  background-color: rgb(240, 240, 240);
}

.myInfo {
  flex-direction: column;
}

.skills {
  grid-area: skills;
  background-color: lightblue;
  display: flex;
}

ul {
  flex-direction: column;
}

.projects {
  grid-area: projects;
  display: flex;
}

button {
  
  flex-direction: row;
}

.proj1, .proj2, .proj3 {
  display: none;
  
}

.contact {
  grid-area: contact;
  background-color: lightyellow;
}