* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-x: hidden;
  font-family: 'Quicksand', sans-serif;
  
}



/* @-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
} */

p, ul, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-areas: 
    "myImg aboutMe"
    "skill skillInfo"
    "projects projects"
    "contact contact";
    background-color: rgb(240, 240, 240);
}

.animate-in {
  height: 100%;
  transition-property: display;
  transition-duration: 5s;
  transition-delay: 3s;
}

.animate-out {
  display: none;
  /* transition-property: display;
  transition-duration: 2s;
  transition-delay: 3s; */
}

nav {
  grid-area: nav;
  background-color: rgb(255, 254, 254);
  display: flex;
  flex-direction: row;
  font-size: 1.6em;
  font-weight: bold;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

nav p {
  display: inline;
  font-size: 1.6em;
  padding: .5rem 2rem;
  font-weight: 100;
}

.me {
  padding-left: 10rem;
  align-self: center;
}

.links {
  display: flex;
  align-content: center;
  margin: auto;
}

.navLink {
  display: inline-block;
  padding: 1.5rem .4rem; 
  color: black;
  font-weight: bold;
  flex-direction: row;
}

a {
  text-decoration: none;
}

a:hover {
  color: pink;
}

a:focus {
  color: pink;
  outline: none;
}

.active {
  color: white;
  background-color: black;
}

.resImg {
  max-width: 100%;
  height: auto;
}

.aboutMe {
  grid-area: aboutMe;
  background-color: rgb(240, 240, 240);
  /* border-bottom: 1px solid black; */
  margin: 3rem 0;
  border-right: 1px solid black;
  border-top-right-radius: -500px;
  border-bottom-right-radius: -500px;
  /* border-radius: 70px; */
}

.pic {
  background-color: rgb(240, 240, 240);
}

.myImg {
  grid-area: myImg;
  background-color: rgb(240, 240, 240);
  border-right: 1px solid black;
  margin: 3rem 0;
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 70px;
}

.myInfo {
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem 10rem 2rem 5rem;
  font-size: 1.3em;
  line-height: 2.2rem;
}

.name, .title {
  text-align: center;
  margin: 1rem 0;
}

.skill {
  grid-area: skill;
  background-color: lightblue;
}

.skillInfo {
  grid-area: skillInfo;
  background-color: lightblue;
  display: flex;
  align-items: center;
}

ul {
  flex-direction: column;
  column-count: 4;
  column-gap: 2rem;
}

.projects {
  grid-area: projects;
  /* height: 300px; */
}

.projInfo1, .projInfo2, .projInfo3 {
  padding-top: 1rem;
  padding-left: 1.5rem;
}

.bg {
  background-image: url(images\background.jpg);
}

.contact {
  grid-area: contact;
  background-color: lightyellow;
}

/* .pCenter {
  margin: 0 100px;
} */

.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin: 2px 0 0 0;
  padding: .5em .5em .5em .7em;
  font-size: 100%;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 0;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 0;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border: 1px solid orange;
  background: #fff;
  font-weight: normal;
  color: #212121;
}

.ui-accordion-header-collapsed {
  background-color: orange;
}

#accordion .ui-icon { display: none; }
#accordion .ui-accordion-header a { padding-left: 0; }

/* @media (max-width: 1400px) {
   

  .myInfo {
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .resImg {
    max-width: 25%;
    height: auto;
}
} */
