.backImg {
  /* max-height: 100%; */
  min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  font-family: 'Abel', sans-serif;
  color: white;
  z-index: -1;
  /* background-image: url("../images/background.jpg"); */
  /* height: 700px; */
  /* background-position: center;
  background-size: cover;
  position: relative;
  z-index: -1;
  background-repeat: no-repeat; */
}

/* .myPic {
  position: absolute;
  height: 350px;
  width: 638px;
  margin-top: 177px;
  margin-left: 92px;
  transform: rotate(-0.7deg);
  clip-path: polygon(0 0, 100% 0, 100% 99%, 0% 100%);
  border-radius: 6px;
} */

.myPic {
  position: absolute;
  height: 22em;
  width: 40em;
  margin-top: 11em;
  margin-left: 5.5em;
  transform: rotate(-0.7deg);
  clip-path: polygon(0 0, 100% 0, 100% 99%, 0% 100%);
  border-radius: 6px;
}


.profText {
  height: 310px;
  width: 550px;
  margin-top: 200px;
  margin-left: 790px;
  transform: rotate(1.7deg);
  color: black;
  font-weight: bold;
  font-size: 20px;
  border: red 1px solid;
}

.nav {
flex-wrap: nowrap;
}

a {
  color: white;
}

li {
  padding-left: 20px;
}

.vertical-nav {
  display: flex;
  padding-left: 100px;
}

ul {
  
  margin: auto;
  width: 60%;
  font-size: 40px;
  padding-right: 40px;
}

#proj1 {
  position: absolute;
  height: 389px;
  width: 689px;
  margin-top: 195px;
  margin-left: -232px;
  transform: rotate(-0.7deg);
  clip-path: polygon(0 0, 100% 0, 99% 96%, 0% 98%);
}

#proj2 {
  position: absolute;
  height: 412px;
  width: 676px;
  margin-top: 200px;
  margin-left: 479px;
  transform: rotate(1.5deg);
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 74% 94%, 77% 77%, 68% 75%, 65% 94%, 2% 91%);
}

#name {
  position: absolute;
  margin-top: 50px;
  font-size: 30px;
  margin-left: 8px;
}

#email {
  position: absolute;
  margin-top: 70px;
  font-size: 30px;
}

#message {
  font-size: 30px;
  margin-left: 100px;
  color: black;
}

.contact {
  margin-top: 158px
}

.btn-dark {
  font-size: 30px;
}

/* #messagebox {
  margin-left: 575px;
  margin-top: 80px;
} */

@media screen and (max-width: 1024px){
  img.backImg {
  left: 50%;
  margin-left: -512px; }

  img.myPic {
    width: 100%;
  
  }
}